*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
--primary-color: #cc6600;
  --secondary-color: #ff9900;
  --tertiary-color: #aaaaaa;
  --white-color: #ffffff;
  --correct-color: #6b8e23;
}
:root{
    --light-blue-color: rgb(22, 159, 244);
    --white-color: white;
    --lighter-color: rgb(25, 178, 229);
    --grey-color: #aaaaaa;
    --correct-color: #6b8e23;
    --transition: all 300ms ease-in-out;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.centered {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}
.scores-tab a,
.timer {
    font-size: 20px;
}

.scores-tab a {
    color: var(--light-blue-color);
    cursor: pointer;
}

.scores-tab a:hover {
    color: var(--grey-color);
}

.start-quiz {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    color: var(--grey-color);
    border-top: 1px solid var(--grey-color);
    margin: 20px 0;
    font-style: italic;
    text-align: center;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--light-blue-color);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: var(--white-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--lighter-color);
}

.hide {
    display: none;
}

.btn.correct {
    background-color: var(--correct-color);
}

.btn.wrong {
    background-color: var(--grey-color);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.highscore {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.name-div,
.score-div {
    flex: 1 35%;
    padding: 10px 0;
    border: 1px solid var(--correct-color);
}